@charset "UTF-8";
/* Цвет основного текста #757575 */
/* Цвет заголовка  #212121 */
/* белый #FFFFFF */
/* background наша команда #F5F4FA */
/* Акцент #2196F3 */
/* Цвет в футере мейла и телефона rgba(255, 255, 255, 0.6) */
/* background #2F303A  подвала */
/* черный в логотипе #000000  */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-social-link-background-color: rgba(255, 255, 255, 0.1);
  --border-bottom-color: #ececec;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --hero-background-color: #c4c4c4;
  --icon-fill-color: #afb1b8;
  --background-accent-color: #188ce8;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.vusually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  /* white-space:  nowrap; */
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  min-width: 200px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: var(--background-accent-color);
}

.hero__button {
  padding: 10px 32px;
}

.send-distribution {
  position: relative;
}

.send-distribution__button {
  padding: 10px 29px;
  text-align: left;
}

.send-distribution__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 13px;
  right: 28px;
  fill: var(--primary-white-color);
}

.page-head {
  border-bottom: 1px solid var(--border-bottom-color);
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.navigation__logo {
  margin-right: 93px;
}

.logo--header {
  color: var(--primary-black-color);
}

.footer-address__logo {
  margin-bottom: 20px;
}

.logo--footer {
  color: var(--primary-white-color);
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--active {
  color: var(--accent-color);
}

.site-nav__link--active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0%;
  background: var(--accent-color);
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-nav__wrapper {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.auth-nav__icon:hover, .auth-nav__icon:focus {
  fill: var(--accent-color);
}

.auth-nav__link:hover .auth-nav__icon,
.auth-nav__link:focus .auth-nav__icon {
  fill: var(--accent-color);
}

.auth-nav__icon--mail {
  width: 16px;
  height: 12px;
}

.auth-nav__icon--smartphone {
  width: 10px;
  height: 16px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--hero-background-color);
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero__row {
  justify-content: center;
}

.feature-list {
  display: flex;
}

.feature-list-item {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.feature-list .feature-list-item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-item-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--primary-background-color);
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.icon-stylе {
  width: 70px;
  height: 70px;
}

.work {
  padding-top: 0px;
}

.work-type {
  display: flex;
}

.work-type__item {
  position: relative;
  display: block;
  max-width: 370px;
}

.work-type__item:not(:last-child) {
  margin-right: 30px;
}

.work-type__image {
  display: block;
  max-width: 100%;
}

.work-type__text {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--primary-background-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Карточка учасника команды */
.team__list {
  display: flex;
}

.team__item {
  display: block;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__image {
  display: block;
  max-width: 100%;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.description__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.description__text {
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
  fill: var(--icon-fill-color);
}

.socials__icon:hover, .socials__icon:focus {
  fill: var(--primary-white-color);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--primary-white-color);
}

.socials__icon--dark {
  fill: var(--primary-white-color);
}

.socials__link--dark {
  background-color: var(--footer-social-link-background-color);
}

.clients__container {
  max-width: 100%;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients-list {
  display: flex;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 106px;
  height: 60px;
  fill: var(--icon-fill-color);
}

.clients-list__icon:hover, .clients-list__icon:focus {
  fill: var(--accent-color);
}

.client-link:hover .clients-list__icon,
.client-link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  background-color: var(--footer-background-color);
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-address {
  margin-right: 70px;
}

.address {
  color: var(--primary-white-color);
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__text {
  margin-bottom: 9px;
}

.address__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--address-link-color);
  display: block;
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--first {
  margin-bottom: 9px;
}

.footer-join {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 93px;
}

.footer-row {
  display: flex;
}

.footer-distribution__mail {
  margin-right: 12px;
}

.footer-distribution__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: calc(20 / 16);
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
}

.footer-distribution__input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-distribution__input:hover, .footer-distribution__input:focus {
  border: 1px solid var(--accent-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: var(--primary-black-color);
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  width: 18px;
  height: 18px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23-20);
  text-align: center;
  color: var(--title-text-color);
}

.form-input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
}

.form-input:focus,
.form-text:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-fied-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-fied {
  margin-bottom: 10px;
}

.form-fied-icon {
  display: block;
  position: relative;
}

.form-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primary-black-color);
}

.form-text {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
}

.form-text::placeholder {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.polisy-link {
  color: var(--accent-color);
  margin-left: 3px;
  text-decoration: underline;
}

.check-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-black-color);
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: var(--primary-white-color);
}

.form-checkbox:checked + .check-text > .check-item {
  background-color: var(--accent-color);
  border-color: transparent;
}

.btn-form-send {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  min-width: 200px;
  margin: 0 auto;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn-form-send:hover,
.btn-form-send:focus {
  background-color: var(--background-accent-color);
  cursor: pointer;
}

.button-portfolio {
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* filter-list */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list > .filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.studio-works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.studio-works-top {
  position: relative;
  overflow: hidden;
}

.studio-works-top-text {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  padding: 63px 24px;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-works-top-text:hover,
.studio-works-top-text:focus {
  opacity: 1;
  transform: translateY(0%);
}

.studio-works-item:hover .studio-works-top-text,
.studio-works-item:focus .studio-works-top-text {
  opacity: 1;
  transform: translateY(0%);
}

/* .studio-works-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-works-link:hover .studio-works-top-text,
.studio-works-link:focus .studio-works-top-text {
  opacity: 1;
  transform: translateY(0%);
} */
.studio-works-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.studio-works-list .title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.studio-works-list > .studio-works-item {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
}

.studio-works-card {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.studio-works-list .studio-works-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.studio-works-item:hover,
.studio-works-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(8, 7, 7, 0.16);
}
/*# sourceMappingURL=main.css.map */