.advantages {
  display: flex;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__title {
  color: var(--title-text-color);
  @include font(14px, 700, 1.14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

//  Иконки списка преимуществ

.advantages__wrapper {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--primary-background-color);
  margin-bottom: 30px;

  justify-content: center;
  align-items: center;
}
.advantages__icon {
  width: 70px;
  height: 70px;
}
