.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;

  background-color: var(--footer-background-color);
}
.page-footer__container {
  display: flex;
  align-items: baseline;
}
.page-footer__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
