.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;

  background-color: var(--footer-background-color);
}
.page-footer__container {
  display: flex;
  align-items: baseline;
}
.page-footer__text {
  display: block;
  margin-bottom: 20px;
  @include font(14px, 700, 1.14);
  text-transform: uppercase;
  color: var(--primary-white-color);
}
