.logo {
  display: block;

  font-family: Raleway, sans-serif;
  @include font(26px, 700, 1.19);
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.navigation__logo {
  margin-right: 93px;
}
.logo--header {
  color: var(--primary-black-color);
}
.footer-address__logo {
  margin-bottom: 20px;
}
.logo--footer {
  color: var(--primary-white-color);
}
