.studio-works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.studio-works-top {
  position: relative;
  overflow: hidden;
}

.studio-works-top-text {
  position: absolute;
  @include font(18px, 400, 1.56);

  color: var(--primary-white-color);
  padding: 63px 24px;

  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-works-top-text:hover,
.studio-works-top-text:focus {
  opacity: 1;
  transform: translateY(0%);
}
.studio-works-item:hover .studio-works-top-text,
.studio-works-item:focus .studio-works-top-text {
  opacity: 1;
  transform: translateY(0%);
}
/* .studio-works-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-works-link:hover .studio-works-top-text,
.studio-works-link:focus .studio-works-top-text {
  opacity: 1;
  transform: translateY(0%);
} */

.studio-works-text {
  color: var(--primary-text-color);
  @include font(16px, 400, 1.87);
}
.studio-works-list .title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  @include font(18px, 700, 2);
  letter-spacing: 0.06em;
}
.studio-works-list > .studio-works-item {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
}
.studio-works-card {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.studio-works-list .studio-works-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.studio-works-item:hover,
.studio-works-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(8, 7, 7, 0.16);
}
